*{margin:0;
padding: 0;
box-sizing: border-box;}



/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}


.logo h2{
    font-size: 45px;
    font-weight:900;}


.color-orange{ 
    color: #FD6E0A;}


.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 25px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;}

.section-heading{
    max-width: 827px;
    text-align: center;}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;}


.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;}



/* Main Style */

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;}


nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;}

nav .menu a{ 
    font-size: 20px;
    color: #474747;
    text-decoration: none;}


#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 222px;
    display: flex;
    justify-content: space-between;
    align-items: center;}


#banner .banner-content{
    max-width: 585px;}


#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;}


#banner .banner-content h1{
    font-size: 85px;
    font-weight:bold;
    color: #181818;
    margin-bottom: 20px;}


#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;}

#banner .banner-image{
    max-width: 585px;
    vertical-align: bottom;}

#about{
    padding-top: 130px;    
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;}


#about .about-container .about-info{
    display: flex;
    justify-content: space-around;}


.about-info .info-card p{
    font-size: 20px;
    margin-bottom: 2px;
    line-height: 30px;
    color: #757575;}


.about-info .info-card h4{
    font-size: 20px;}


#skills{
    margin: 0 auto;
    text-align: center;
    padding: 130px;
    /*padding: 130px 157px;*/
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid red;}


.skills-container{
    
    width: 81%;
    max-width: 1140px;
    align-items: center;
    justify-content: center; /* horizontal */
border: 1px solid red;}


.section-heading{
    margin: 0 auto;
    
    border: 1px solid red;
    }

#skills .skills-container .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    border: 1px solid red;}


#skills .skills-container .skills-box{
    display: flex;
    justify-content: center;
    border: 1px solid red;}


#skills .skills-container .skills-box .skills-card h4{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;}


.skills-card{
    margin: 0 10px;
    border-style: solid;
    border-radius: 20px;}


.img{
    padding: 30px 190px 300px 27px;}